header{
    /* border: 2px solid black; */
    width:1600px;
    background-color:brown;
}

    .logo{
     /* border: 2px solid black; */
    width: 380px;
    margin-top: 0px;
    padding: 10px;
    }
 
.logo>img{
    /* border: 2px solid black; */
    width: 100%;
    margin-top: 0px;
    border-radius: 20px;
    border-color: transparent;
}

input{
    width: 900px;
    margin-top:150px ;
    height: 50px;
    
}
nav{
    /* border: 2px solid black; */
    margin-right:0px;
    margin-bottom:0px; 
    width: 1200px;  
 
  
}
.find{
    /* border: 2px solid black; */
    margin-bottom: 100px;
}
ul{
   /* border: 2px solid red; */
    gap: 150px;
    font-weight: 900;
    font-size: larger;
    margin-top: 30px;
  
}
marquee{
    word-spacing: 45px;
    /* border: 2px solid black; */
    background-color: rgb(110, 37, 211);
    color: aliceblue;
}
.pm{
    margin: 50px auto;
    text-align: center;
    font-size: 50px;

}
  